<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncUsageAnalyzers" version="1.0.0-alpha003" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="Microsoft.Identity.Client" version="2.0.1-preview" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.0.122203" targetFramework="xamarinios10" />
</packages>